* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

*::selection {
    color: #ff3115;
}

.sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.p-a {
    position: absolute;
}

.p-r {
    position: relative;
}

.color-orange {
    color: #ff3115;
}

.col-4,
.col-7 {
    padding: 0 !important;
}

.social-icons {
    margin-right: 10px
}

.social-icons i {
    color: #888888;
    cursor: pointer;
}

.social-icons i:hover {
    color: #b1b1b1;
}

.header-nav {
    background-color: #111111
}

.header-nav {
    .container .row {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        div {
            display: flex;
            i {
                margin: 0 5px
            }
            a {
                margin-left: 5px;
                font-size: 14px;
                color: #E41F05;
            }
            a:hover {
                color: #ff3115;
            }
            p {
                color: white;
                font-size: 14px
            }
        }
    }
}

.main-nav {
    .row {
        padding: 35px 0;
        display: flex;
        justify-content: space-between;
    }
    .header-contact {
        display: flex;
        p {
            color: #888888;
            font-weight: lighter;
        }
        h4 {
            margin-bottom: 5px
        }
        div {
            margin-right: 8px;
            margin-left: 5px;
        }
        i {
            font-size: 40px;
            color: #ff3115;
        }
        .contact-mail {
            cursor: pointer;
        }
        .contact-mail:hover p {
            color: #ff3115;
        }
    }
}

.nav-logo {
    a {
        color: black;
        display: flex;
    }
    i {
        color: #ff3115;
        font-size: 40px;
        margin-right: 5px;
    }
    span {
        font-size: 30px;
        padding-top: 4px;
    }
}

.header-phone {
    display: flex;
    i {
        font-size: 40px;
        color: #ff3115;
        margin: 0 15px;
    }
    p {
        color: #888888;
    }
}

.header-phone {
    .header-phone-text:hover p {
        color: #ff3115;
    }
}

.header-phone {
    .header-phone-text {
        cursor: pointer;
    }
}

nav {
    background-color: #111111;
    .footer-nav {
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .col-7 {
                display: flex;
                justify-content: space-between;
                list-style: none;
                display: flex;
                justify-content: space-between;
                .navbar-items {
                    color: #888888;
                    padding: 24px 0;
                    text-transform: uppercase;
                }
                .navbar-items:hover {
                    color: #ff3115;
                }
            }
            .footer-nav-icons {
                display: flex;
                i {
                    color: white;
                    padding: 19px 14px;
                }
                i:first-child {
                    background-color: #E41F05;
                }
                i:last-child {
                    background-color: #ff3115;
                }
            }
        }
    }
}


/*Dropdowns*/

nav {
    .home-button {
        position: relative;
    }
    .footer-nav {
        .col-7 {
            a {
                width: 285px;
                padding: 12px;
            }
            ul {
                padding: 0 !important;
                .home-dropdown {
                    position: absolute;
                    top: 25px;
                    display: none;
                    flex-direction: column;
                    li {
                        background-color: #111111;
                        padding: 10px 5px;
                        a {
                            color: #888888;
                        }
                    }
                }
                .about-dropdown {
                    position: absolute;
                    top: 25px;
                    display: none;
                    flex-direction: column;
                    li {
                        padding: 10px 5px;
                        background-color: #111111;
                        a {
                            color: #888888;
                        }
                    }
                }
            }
            .pages-dropdown {
                display: none;
                flex-direction: column;
                justify-content: space-between;
                position: absolute;
                top: 100%;
                background-color: #111111;
                transition: 2s;
                li {
                    padding: 15px 10px;
                    width: 258px;
                    a {
                        color: #888888;
                    }
                }
            }
            .page {
                position: relative;
            }
            .page-hover:hover .pages-dropdown {
                display: flex;
            }
            .events-dropdown {
                display: none;
                opacity: 0;
                flex-direction: column;
                justify-content: space-between;
                position: absolute;
                top: 100%;
                background-color: #111111;
                transition: 2s;
                li {
                    padding: 15px 10px;
                    a {
                        color: #888888;
                    }
                }
            }
        }
        .event {
            position: relative;
        }
        .events-hover:hover .events-dropdown {
            display: flex;
            opacity: 1;
        }
        .teachers-dropdown {
            display: none;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            left: 100%;
            top: 0;
            background-color: #111111;
            transition: 2s;
            li {
                width: 285px;
            }
        }
        .teachers {
            position: relative;
        }
        .teachers:hover .teachers-dropdown {
            display: flex;
        }
        .gallery-dropdown {
            display: none;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            left: 100%;
            top: 0;
            background-color: #111111;
            transition: 2s;
            li {
                width: 285px;
            }
        }
        .gallery {
            position: relative;
        }
        .gallery:hover .gallery-dropdown {
            display: flex;
        }
        .shop-dropdown {
            display: none;
            position: absolute;
            top: 0;
            left: 100%;
            background-color: #111111;
            transition: 2s;
            flex-direction: column;
            justify-content: space-between;
            li {
                width: 285px;
                a {
                    color: #888888;
                }
            }
        }
        .shop {
            position: relative;
        }
        .shop:hover .shop-dropdown {
            display: flex;
        }
        .mega-dropdown {
            display: none;
            background-color: #111111;
            position: absolute;
            top: 100%;
            padding: 20px 30px;
            transition: 5s;
            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                li {
                    margin: 10px 0;
                    display: flex;
                    justify-content: space-around;
                    a {
                        padding: 15px 25px;
                        color: #888888;
                    }
                }
            }
        }
        .mega {
            position: relative;
        }
        .mega-hover:hover .mega-dropdown {
            display: flex;
        }
        .courses-dropdown {
            display: none;
            top: 100%;
            background-color: #111111;
            transition: 2s;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            li {
                padding: 15px 10px;
                a {
                    color: #888888;
                }
            }
        }
        .courses {
            position: relative;
        }
        .courses-hover:hover .courses-dropdown {
            display: flex;
        }
        .blog-dropdown {
            display: none;
            top: 100%;
            background-color: #111111;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            li {
                padding: 15px 10px;
                a {
                    color: #888888;
                }
            }
        }
        .blog {
            position: relative;
        }
        .blog-hover:hover .blog-dropdown {
            display: flex;
        }
    }
}

nav {
    .footer-nav {
        .home:hover .home-dropdown {
            display: flex;
        }
        .about:hover .about-dropdown {
            display: flex;
        }
    }
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111111;
    .close-circle {
        position: absolute;
        right: 15px;
        top: 15px;
        color: white;
        cursor: pointer;
        font-size: 30px;
    }
    div {
        width: 80%;
        margin: 22% auto;
        input {
            width: 70%;
            margin: auto 15%;
            padding: 20px;
            border: none;
            border-bottom: 2px solid #888888;
            font-size: 19px;
        }
    }
}

.footer-nav {
    .container {
        .row {
            .col-7 {
                a:hover {
                    color: #ff3115;
                }
            }
        }
    }
}


/*Main*/

#section-carousel {
    .col-12 {
        .slide {
            width: 100%;
            height: 100%;
        }
    }
    .owl-carousel .owl-theme .slide {
        height: 100%;
        width: 100%;
        display: block;
    }
    .item {
        position: relative;
    }
    .intro-text {
        text-align: center;
        font-size: 20px;
        color: white;
        position: absolute;
        top: 35%;
        left: 30%;
        p {
            margin: 10px 0;
        }
        h1 {
            font-size: 50px;
        }
    }
}

.buttons {
    button {
        font-size: 20px;
        color: white;
        padding: 15px 40px;
        cursor: pointer;
        background-color: black;
        border: none;
    }
}

.buttons {
    button:last-child {
        background-color: #ff3115;
        margin-left: 40px;
    }
}

#section-info-cards {
    z-index: 10;
    .row {
        margin-top: -60px;
        .col-3 {
            text-align: center;
            z-index: 20;
            position: relative;
        }
        .col-3:hover .div-text {
            background-color: #ff3115;
        }
        // .div-icons-item {
        //     position: absolute;
        //     top: -20%;
        // }
        .div-icons {
            width: 110px;
            height: 100px;
            border-radius: 50%;
            background: #111111;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -28%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 55;
        }
        i {
            color: #ff3115;
            font-size: 35px;
            position: absolute;
        }
        .col-3:hover i {
            color: white;
            // background-color: #ff3115;
            animation: scale 1s;
        }
        .col-3:hover .div-icons {
            background-color: #ff3115;
        }
        .div-text {
            text-align: center;
            background-color: black;
            padding: 30px 10px;
            padding-top: 60px;
            h3 {
                color: white;
                margin-bottom: 10px;
            }
            p {
                color: #888888;
            }
        }
    }
}

@keyframes scale {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

// @keyframes opacityanim {
//     0% {
//         opacity(0);
//         opacity(0);
//     }
//     100% {
//         transform: opacity(1);
//         -webkit-transform: opacity(1);
//     }
// }
#section-aboutus {
    margin: 100px 0;
    .row-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            font-size: 40px;
            margin-bottom: 20px;
        }
        p {
            color: #888888;
        }
        hr {
            width: 10%;
            margin-top: 25px;
            border-color: #ff3115;
        }
    }
    .div-about-video {
        position: relative;
        .div-playicon {
            position: absolute;
            color: #ff3115;
            font-size: 80px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
    }
    .div-about-video:hover i {
        animation: opacityanim 2s;
    }
    .div-row-info {
        display: flex;
        margin-top: 50px;
        .div-about-video {
            img {
                width: 100%;
            }
        }
    }
    .div-row-info-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h3 {
            margin-bottom: 15px;
            font-size: 25px;
        }
        p {
            color: #888888;
            padding: 20px 0;
        }
        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            transition: 1s;
            margin: 10px 0;
        }
        .active {
            background-color: #ff3115;
            color: white;
        }
        .panel {
            padding: 0 18px;
            background-color: white;
            display: none;
            overflow: hidden;
            // height: 0;
        }
        button {
            font-size: 20px;
        }
    }
}

.accordion-color {
    color: white;
    background-color: #ff3115;
}

#popular-courses {
    padding: 70px 0;
    .row {
        position: relative;
        .owl-prev i {
            opacity: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -50px;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            color: white;
            background-color: #444;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 1s;
            cursor: pointer;
        }
        .owl-next i {
            opacity: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -50px;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            color: white;
            background-color: #444;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 1s;
            cursor: pointer;
        }
    }
    .row:hover i {
        opacity: 1;
    }
    .owl-prev i:hover {
        background-color: #ff3115;
    }
    .owl-next i:hover {
        background-color: #ff3115;
    }
    .popular-courses-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 15px;
        p {
            margin: 15px 0;
        }
        hr {
            width: 10%;
            border-color: #ff3115;
        }
        h2 {
            font-size: 30px;
        }
    }
    background-color: #f9f9f9;
    .card {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 15px;
        box-shadow: 2px rgba(0, 0, 0, 0.24);
        .div-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            a:first-child {
                font-size: 15px;
                margin-bottom: 10px;
                color: #ff3115;
            }
            a:nth-child(2) {
                color: black;
                font-size: 25px;
                margin-bottom: 15px;
            }
            .card-rating {
                display: flex;
                ul {
                    margin-right: 20px;
                    li {
                        color: #ff3115;
                    }
                }
            }
            p {
                text-align: center;
                color: #888888;
                margin-top: 15px;
            }
        }
        .course-footer {
            padding: 15px 20px;
            display: flex;
            justify-content: space-between;
            background-color: #f0f0f0;
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-right: 1px solid #b3b3b3;
                padding-right: 5px;
                span:first-child {
                    font-weight: bold;
                }
                span:nth-child(2) {
                    font-size: 15px;
                }
            }
            div:last-child {
                border: none;
            }
        }
        .course-value {
            position: absolute;
            bottom: -25px;
            right: 25px;
            top: 50%;
            height: 50px;
            width: 50px;
            line-height: 50px;
            text-align: center;
            background-color: #ff3115;
            color: #ffffff;
            font-size: 14px;
            font-weight: 600;
            border-radius: 50%;
            z-index: 1;
        }
    }
}

#section-acheivements {
    background-image: url(../images/counter-bg.jpg);
    background-attachment: fixed;
    .container {
        .div-row-acheivements {
            padding: 130px 0;
            .div-acheivements {
                h2 {
                    color: white;
                    font-size: 32px;
                }
                p {
                    color: #888888;
                    margin: 30px 0;
                    line-height: 25px;
                }
                img {
                    width: 100%;
                    border-radius: 8px;
                }
            }
            .div-counters {
                padding-top: 90px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .row {
                    display: flex;
                    margin-right: -15px;
                    margin-left: -15px;
                }
                p {
                    color: white;
                    font-size: 25px;
                }
                .col-6 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    border: 1px solid #888888;
                    height: 150px;
                }
                .col-6:hover {
                    border-color: #ff3115;
                }
            }
        }
    }
}

#section-events {
    .row {
        display: flex;
        justify-content: center;
        margin: 20px 0;
        .events-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                font-size: 25px;
            }
            p {
                color: #888888;
                margin: 15px 0;
            }
            hr {
                border-color: #ff3115;
                width: 10%;
            }
        }
        i {
            color: #ff3115;
            font-size: 14px;
        }
        .card {
            margin: 0 5px;
        }
        .card-text {
            background-color: #f9f9f9;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 15px 10px;
            i {
                margin-right: 5px;
                display: flex;
                align-items: center;
            }
            .event-date {
                display: flex;
                justify-content: left;
            }
            .first-a {
                color: #111111;
                margin-top: 15px;
                font-weight: bold;
                transition: 0.5s;
            }
            .first-a:hover {
                color: #ff3115;
            }
            .card-body-clock {
                display: flex;
                margin: 15px 0;
                div {
                    display: flex;
                    justify-content: left;
                }
                div:first-child {
                    margin-right: 10px;
                }
            }
            .footer-button {
                display: flex;
                align-items: center;
                a {
                    margin-right: 5px;
                    color: #ff3115;
                }
            }
        }
        p,
        span {
            color: #888888;
            font-size: 15px;
        }
    }
}

#section-experienced-staff {
    margin-top: 120px;
    background-color: #f9f9f9;
    padding-bottom: 50px;
    .staff-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 0;
        h2 {
            font-size: 25px;
        }
        p {
            color: #888888;
            margin: 15px 0;
        }
        hr {
            border-color: #ff3115;
            width: 10%;
        }
    }
    .staff {
        position: relative;
        margin: 0 8px;
        .staff-overlay {
            opacity: 0;
            transition: 2s;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.589);
            color: white;
            cursor: pointer;
            hr {
                width: 13%;
                border-color: #ff3115;
                margin-top: 10px;
            }
            p {
                margin-top: 13px;
            }
        }
    }
    .staff:hover .staff-overlay {
        opacity: 1;
    }
    .staff:hover .staff-info {
        opacity: 0;
    }
    .staff-info {
        position: absolute;
        bottom: 0;
        left: 0;
        color: white;
        background-color: rgba(0, 0, 0, 0.589);
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        p {
            font-size: 15px;
        }
    }
}

#section-devlopment-course {
    background-image: url(../images/cta-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    padding: 60px 0;
    .container {
        padding: 60px 0;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        h2 {
            font-size: 30px;
        }
        p {
            padding: 20px 0;
        }
        button {
            font-size: 18px;
            color: white;
            background-color: #ff3115;
            border: none;
            padding: 15px 60px;
            text-transform: uppercase;
            cursor: pointer;
        }
        hr {
            margin-bottom: 30px;
            width: 12%;
            border-color: #ff3115;
        }
    }
}

#section-news {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    .row-news-header {
        display: flex;
        justify-content: center;
    }
    .news-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 0;
        h2 {
            font-size: 25px;
        }
        p {
            color: #3a3a3a;
            margin: 15px 0;
        }
        hr {
            border-color: #ff3115;
            width: 20%;
        }
    }
    i {
        color: #ff3115;
    }
    .news-card-lg {
        transition: 0.5s;
        cursor: pointer;
        height: 500px;
        display: flex;
        flex-direction: column;
        border: 1px solid #cccccc;
        justify-content: space-around;
        .news-image {
            text-align: center;
        }
        p {
            color: #888888;
            line-height: 25px;
        }
        a {
            color: white;
            padding: 5px 15px;
            background-color: #ff3115;
            width: 19%;
            font-size: 15px;
            text-align: center;
            transition: 0.5s;
        }
        a:hover {
            background-color: #cc2712
        }
        .news-date {
            span {
                font-size: 15px;
                color: #888888
            }
        }
        h4 {
            font-size: 20px;
            cursor: pointer;
            transition: 0.5s;
        }
        h4:hover {
            color: #ff3115;
        }
    }
    .news-card-lg:hover {
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    }
    .news-card-sm {
        display: flex;
        border: 1px solid #cccccc;
        padding: 0;
        img {
            max-width: 100%;
        }
        .news-card-sm-text {
            .flex {
                margin: 15px 0;
                i {
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                }
                p {
                    color: #888888;
                    font-size: 15px;
                }
            }
        }
        h4 {
            font-size: 15px;
            cursor: pointer;
            transition: 0.5s;
        }
        h4:hover {
            color: #ff3115;
        }
        p {
            color: #5c5c5c;
            line-height: 25px;
        }
    }
}