* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

*::-moz-selection {
  color: #ff3115;
}

*::selection {
  color: #ff3115;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.p-a {
  position: absolute;
}

.p-r {
  position: relative;
}

.color-orange {
  color: #ff3115;
}

.col-4,
.col-7 {
  padding: 0 !important;
}

.social-icons {
  margin-right: 10px;
}

.social-icons i {
  color: #888888;
  cursor: pointer;
}

.social-icons i:hover {
  color: #b1b1b1;
}

.header-nav {
  background-color: #111111;
}

.header-nav .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.header-nav .container .row div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav .container .row div i {
  margin: 0 5px;
}

.header-nav .container .row div a {
  margin-left: 5px;
  font-size: 14px;
  color: #E41F05;
}

.header-nav .container .row div a:hover {
  color: #ff3115;
}

.header-nav .container .row div p {
  color: white;
  font-size: 14px;
}

.main-nav .row {
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav .header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav .header-contact p {
  color: #888888;
  font-weight: lighter;
}

.main-nav .header-contact h4 {
  margin-bottom: 5px;
}

.main-nav .header-contact div {
  margin-right: 8px;
  margin-left: 5px;
}

.main-nav .header-contact i {
  font-size: 40px;
  color: #ff3115;
}

.main-nav .header-contact .contact-mail {
  cursor: pointer;
}

.main-nav .header-contact .contact-mail:hover p {
  color: #ff3115;
}

.nav-logo a {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-logo i {
  color: #ff3115;
  font-size: 40px;
  margin-right: 5px;
}

.nav-logo span {
  font-size: 30px;
  padding-top: 4px;
}

.header-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-phone i {
  font-size: 40px;
  color: #ff3115;
  margin: 0 15px;
}

.header-phone p {
  color: #888888;
}

.header-phone .header-phone-text:hover p {
  color: #ff3115;
}

.header-phone .header-phone-text {
  cursor: pointer;
}

nav {
  background-color: #111111;
}

nav .footer-nav .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .footer-nav .row .col-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav .footer-nav .row .col-7 .navbar-items {
  color: #888888;
  padding: 24px 0;
  text-transform: uppercase;
}

nav .footer-nav .row .col-7 .navbar-items:hover {
  color: #ff3115;
}

nav .footer-nav .row .footer-nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .footer-nav .row .footer-nav-icons i {
  color: white;
  padding: 19px 14px;
}

nav .footer-nav .row .footer-nav-icons i:first-child {
  background-color: #E41F05;
}

nav .footer-nav .row .footer-nav-icons i:last-child {
  background-color: #ff3115;
}

/*Dropdowns*/
nav .home-button {
  position: relative;
}

nav .footer-nav .col-7 a {
  width: 285px;
  padding: 12px;
}

nav .footer-nav .col-7 ul {
  padding: 0 !important;
}

nav .footer-nav .col-7 ul .home-dropdown {
  position: absolute;
  top: 25px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .footer-nav .col-7 ul .home-dropdown li {
  background-color: #111111;
  padding: 10px 5px;
}

nav .footer-nav .col-7 ul .home-dropdown li a {
  color: #888888;
}

nav .footer-nav .col-7 ul .about-dropdown {
  position: absolute;
  top: 25px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .footer-nav .col-7 ul .about-dropdown li {
  padding: 10px 5px;
  background-color: #111111;
}

nav .footer-nav .col-7 ul .about-dropdown li a {
  color: #888888;
}

nav .footer-nav .col-7 .pages-dropdown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 100%;
  background-color: #111111;
  -webkit-transition: 2s;
  transition: 2s;
}

nav .footer-nav .col-7 .pages-dropdown li {
  padding: 15px 10px;
  width: 258px;
}

nav .footer-nav .col-7 .pages-dropdown li a {
  color: #888888;
}

nav .footer-nav .col-7 .page {
  position: relative;
}

nav .footer-nav .col-7 .page-hover:hover .pages-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .footer-nav .col-7 .events-dropdown {
  display: none;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 100%;
  background-color: #111111;
  -webkit-transition: 2s;
  transition: 2s;
}

nav .footer-nav .col-7 .events-dropdown li {
  padding: 15px 10px;
}

nav .footer-nav .col-7 .events-dropdown li a {
  color: #888888;
}

nav .footer-nav .event {
  position: relative;
}

nav .footer-nav .events-hover:hover .events-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

nav .footer-nav .teachers-dropdown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #111111;
  -webkit-transition: 2s;
  transition: 2s;
}

nav .footer-nav .teachers-dropdown li {
  width: 285px;
}

nav .footer-nav .teachers {
  position: relative;
}

nav .footer-nav .teachers:hover .teachers-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .footer-nav .gallery-dropdown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #111111;
  -webkit-transition: 2s;
  transition: 2s;
}

nav .footer-nav .gallery-dropdown li {
  width: 285px;
}

nav .footer-nav .gallery {
  position: relative;
}

nav .footer-nav .gallery:hover .gallery-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .footer-nav .shop-dropdown {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #111111;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .footer-nav .shop-dropdown li {
  width: 285px;
}

nav .footer-nav .shop-dropdown li a {
  color: #888888;
}

nav .footer-nav .shop {
  position: relative;
}

nav .footer-nav .shop:hover .shop-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .footer-nav .mega-dropdown {
  display: none;
  background-color: #111111;
  position: absolute;
  top: 100%;
  padding: 20px 30px;
  -webkit-transition: 5s;
  transition: 5s;
}

nav .footer-nav .mega-dropdown ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .footer-nav .mega-dropdown ul li {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .footer-nav .mega-dropdown ul li a {
  padding: 15px 25px;
  color: #888888;
}

nav .footer-nav .mega {
  position: relative;
}

nav .footer-nav .mega-hover:hover .mega-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .footer-nav .courses-dropdown {
  display: none;
  top: 100%;
  background-color: #111111;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
}

nav .footer-nav .courses-dropdown li {
  padding: 15px 10px;
}

nav .footer-nav .courses-dropdown li a {
  color: #888888;
}

nav .footer-nav .courses {
  position: relative;
}

nav .footer-nav .courses-hover:hover .courses-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .footer-nav .blog-dropdown {
  display: none;
  top: 100%;
  background-color: #111111;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
}

nav .footer-nav .blog-dropdown li {
  padding: 15px 10px;
}

nav .footer-nav .blog-dropdown li a {
  color: #888888;
}

nav .footer-nav .blog {
  position: relative;
}

nav .footer-nav .blog-hover:hover .blog-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .footer-nav .home:hover .home-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .footer-nav .about:hover .about-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #111111;
}

.modal .close-circle {
  position: absolute;
  right: 15px;
  top: 15px;
  color: white;
  cursor: pointer;
  font-size: 30px;
}

.modal div {
  width: 80%;
  margin: 22% auto;
}

.modal div input {
  width: 70%;
  margin: auto 15%;
  padding: 20px;
  border: none;
  border-bottom: 2px solid #888888;
  font-size: 19px;
}

.footer-nav .container .row .col-7 a:hover {
  color: #ff3115;
}

/*Main*/
#section-carousel .col-12 .slide {
  width: 100%;
  height: 100%;
}

#section-carousel .owl-carousel .owl-theme .slide {
  height: 100%;
  width: 100%;
  display: block;
}

#section-carousel .item {
  position: relative;
}

#section-carousel .intro-text {
  text-align: center;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 35%;
  left: 30%;
}

#section-carousel .intro-text p {
  margin: 10px 0;
}

#section-carousel .intro-text h1 {
  font-size: 50px;
}

.buttons button {
  font-size: 20px;
  color: white;
  padding: 15px 40px;
  cursor: pointer;
  background-color: black;
  border: none;
}

.buttons button:last-child {
  background-color: #ff3115;
  margin-left: 40px;
}

#section-info-cards {
  z-index: 10;
}

#section-info-cards .row {
  margin-top: -60px;
}

#section-info-cards .row .col-3 {
  text-align: center;
  z-index: 20;
  position: relative;
}

#section-info-cards .row .col-3:hover .div-text {
  background-color: #ff3115;
}

#section-info-cards .row .div-icons {
  width: 110px;
  height: 100px;
  border-radius: 50%;
  background: #111111;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 55;
}

#section-info-cards .row i {
  color: #ff3115;
  font-size: 35px;
  position: absolute;
}

#section-info-cards .row .col-3:hover i {
  color: white;
  -webkit-animation: scale 2s;
          animation: scale 2s;
}

#section-info-cards .row .col-3:hover .div-icons {
  background-color: #ff3115;
}

#section-info-cards .row .div-text {
  text-align: center;
  background-color: black;
  padding: 30px 10px;
  padding-top: 60px;
}

#section-info-cards .row .div-text h3 {
  color: white;
  margin-bottom: 10px;
}

#section-info-cards .row .div-text p {
  color: #888888;
}

@-webkit-keyframes scale {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

#section-aboutus {
  margin: 100px 0;
}

#section-aboutus .row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-aboutus .row-flex h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

#section-aboutus .row-flex p {
  color: #888888;
}

#section-aboutus .row-flex hr {
  width: 10%;
  margin-top: 25px;
  border-color: #ff3115;
}

#section-aboutus .div-about-video {
  position: relative;
}

#section-aboutus .div-about-video .div-playicon {
  position: absolute;
  color: #ff3115;
  font-size: 80px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

#section-aboutus .div-about-video:hover i {
  -webkit-animation: opacityanim 2s;
          animation: opacityanim 2s;
}

#section-aboutus .div-row-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

#section-aboutus .div-row-info .div-about-video img {
  width: 100%;
}

#section-aboutus .div-row-info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#section-aboutus .div-row-info-text h3 {
  margin-bottom: 15px;
  font-size: 25px;
}

#section-aboutus .div-row-info-text p {
  color: #888888;
  padding: 20px 0;
}

#section-aboutus .div-row-info-text .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 2s;
  transition: 2s;
  margin: 10px 0;
}

#section-aboutus .div-row-info-text .panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

#section-aboutus .div-row-info-text button {
  font-size: 20px;
}

.accordion-color {
  color: white;
  background-color: #ff3115;
}
/*# sourceMappingURL=style.css.map */