* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

*::-moz-selection {
  color: #ff3115;
}

*::selection {
  color: #ff3115;
}

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.p-a {
  position: absolute;
}

.p-r {
  position: relative;
}

.color-orange {
  color: #ff3115;
}

.col-4,
.col-7 {
  padding: 0 !important;
}

.social-icons {
  margin-right: 10px;
}

.social-icons i {
  color: #888888;
  cursor: pointer;
}

.social-icons i:hover {
  color: #b1b1b1;
}

.header-nav {
  background-color: #111111;
}

.header-nav .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.header-nav .container .row div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav .container .row div i {
  margin: 0 5px;
}

.header-nav .container .row div a {
  margin-left: 5px;
  font-size: 14px;
  color: #E41F05;
}

.header-nav .container .row div a:hover {
  color: #ff3115;
}

.header-nav .container .row div p {
  color: white;
  font-size: 14px;
}

.main-nav .row {
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav .header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav .header-contact p {
  color: #888888;
  font-weight: lighter;
}

.main-nav .header-contact h4 {
  margin-bottom: 5px;
}

.main-nav .header-contact div {
  margin-right: 8px;
  margin-left: 5px;
}

.main-nav .header-contact i {
  font-size: 40px;
  color: #ff3115;
}

.main-nav .header-contact .contact-mail {
  cursor: pointer;
}

.main-nav .header-contact .contact-mail:hover p {
  color: #ff3115;
}

.nav-logo a {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-logo i {
  color: #ff3115;
  font-size: 40px;
  margin-right: 5px;
}

.nav-logo span {
  font-size: 30px;
  padding-top: 4px;
}

.header-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-phone i {
  font-size: 40px;
  color: #ff3115;
  margin: 0 15px;
}

.header-phone p {
  color: #888888;
}

.header-phone .header-phone-text:hover p {
  color: #ff3115;
}

.header-phone .header-phone-text {
  cursor: pointer;
}

nav {
  background-color: #111111;
}

nav .footer-nav .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .footer-nav .row .col-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav .footer-nav .row .col-7 .navbar-items {
  color: #888888;
  padding: 24px 0;
  text-transform: uppercase;
}

nav .footer-nav .row .col-7 .navbar-items:hover {
  color: #ff3115;
}

nav .footer-nav .row .footer-nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .footer-nav .row .footer-nav-icons i {
  color: white;
  padding: 19px 14px;
}

nav .footer-nav .row .footer-nav-icons i:first-child {
  background-color: #E41F05;
}

nav .footer-nav .row .footer-nav-icons i:last-child {
  background-color: #ff3115;
}

/*Dropdowns*/
nav .home-button {
  position: relative;
}

nav .footer-nav .col-7 a {
  width: 285px;
  padding: 12px;
}

nav .footer-nav .col-7 ul {
  padding: 0 !important;
}

nav .footer-nav .col-7 ul .home-dropdown {
  position: absolute;
  top: 25px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .footer-nav .col-7 ul .home-dropdown li {
  background-color: #111111;
  padding: 10px 5px;
}

nav .footer-nav .col-7 ul .home-dropdown li a {
  color: #888888;
}

nav .footer-nav .col-7 ul .about-dropdown {
  position: absolute;
  top: 25px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .footer-nav .col-7 ul .about-dropdown li {
  padding: 10px 5px;
  background-color: #111111;
}

nav .footer-nav .col-7 ul .about-dropdown li a {
  color: #888888;
}

nav .footer-nav .col-7 .pages-dropdown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 100%;
  background-color: #111111;
  -webkit-transition: 2s;
  transition: 2s;
}

nav .footer-nav .col-7 .pages-dropdown li {
  padding: 15px 10px;
  width: 258px;
}

nav .footer-nav .col-7 .pages-dropdown li a {
  color: #888888;
}

nav .footer-nav .col-7 .page {
  position: relative;
}

nav .footer-nav .col-7 .page-hover:hover .pages-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .footer-nav .col-7 .events-dropdown {
  display: none;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 100%;
  background-color: #111111;
  -webkit-transition: 2s;
  transition: 2s;
}

nav .footer-nav .col-7 .events-dropdown li {
  padding: 15px 10px;
}

nav .footer-nav .col-7 .events-dropdown li a {
  color: #888888;
}

nav .footer-nav .event {
  position: relative;
}

nav .footer-nav .events-hover:hover .events-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

nav .footer-nav .teachers-dropdown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #111111;
  -webkit-transition: 2s;
  transition: 2s;
}

nav .footer-nav .teachers-dropdown li {
  width: 285px;
}

nav .footer-nav .teachers {
  position: relative;
}

nav .footer-nav .teachers:hover .teachers-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .footer-nav .gallery-dropdown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #111111;
  -webkit-transition: 2s;
  transition: 2s;
}

nav .footer-nav .gallery-dropdown li {
  width: 285px;
}

nav .footer-nav .gallery {
  position: relative;
}

nav .footer-nav .gallery:hover .gallery-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .footer-nav .shop-dropdown {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #111111;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .footer-nav .shop-dropdown li {
  width: 285px;
}

nav .footer-nav .shop-dropdown li a {
  color: #888888;
}

nav .footer-nav .shop {
  position: relative;
}

nav .footer-nav .shop:hover .shop-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .footer-nav .mega-dropdown {
  display: none;
  background-color: #111111;
  position: absolute;
  top: 100%;
  padding: 20px 30px;
  -webkit-transition: 5s;
  transition: 5s;
}

nav .footer-nav .mega-dropdown ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .footer-nav .mega-dropdown ul li {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .footer-nav .mega-dropdown ul li a {
  padding: 15px 25px;
  color: #888888;
}

nav .footer-nav .mega {
  position: relative;
}

nav .footer-nav .mega-hover:hover .mega-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .footer-nav .courses-dropdown {
  display: none;
  top: 100%;
  background-color: #111111;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
}

nav .footer-nav .courses-dropdown li {
  padding: 15px 10px;
}

nav .footer-nav .courses-dropdown li a {
  color: #888888;
}

nav .footer-nav .courses {
  position: relative;
}

nav .footer-nav .courses-hover:hover .courses-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .footer-nav .blog-dropdown {
  display: none;
  top: 100%;
  background-color: #111111;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
}

nav .footer-nav .blog-dropdown li {
  padding: 15px 10px;
}

nav .footer-nav .blog-dropdown li a {
  color: #888888;
}

nav .footer-nav .blog {
  position: relative;
}

nav .footer-nav .blog-hover:hover .blog-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .footer-nav .home:hover .home-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .footer-nav .about:hover .about-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #111111;
}

.modal .close-circle {
  position: absolute;
  right: 15px;
  top: 15px;
  color: white;
  cursor: pointer;
  font-size: 30px;
}

.modal div {
  width: 80%;
  margin: 22% auto;
}

.modal div input {
  width: 70%;
  margin: auto 15%;
  padding: 20px;
  border: none;
  border-bottom: 2px solid #888888;
  font-size: 19px;
}

.footer-nav .container .row .col-7 a:hover {
  color: #ff3115;
}

/*Main*/
#section-carousel .col-12 .slide {
  width: 100%;
  height: 100%;
}

#section-carousel .owl-carousel .owl-theme .slide {
  height: 100%;
  width: 100%;
  display: block;
}

#section-carousel .item {
  position: relative;
}

#section-carousel .intro-text {
  text-align: center;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 35%;
  left: 30%;
}

#section-carousel .intro-text p {
  margin: 10px 0;
}

#section-carousel .intro-text h1 {
  font-size: 50px;
}

.buttons button {
  font-size: 20px;
  color: white;
  padding: 15px 40px;
  cursor: pointer;
  background-color: black;
  border: none;
}

.buttons button:last-child {
  background-color: #ff3115;
  margin-left: 40px;
}

#section-info-cards {
  z-index: 10;
}

#section-info-cards .row {
  margin-top: -60px;
}

#section-info-cards .row .col-3 {
  text-align: center;
  z-index: 20;
  position: relative;
}

#section-info-cards .row .col-3:hover .div-text {
  background-color: #ff3115;
}

#section-info-cards .row .div-icons {
  width: 110px;
  height: 100px;
  border-radius: 50%;
  background: #111111;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 55;
}

#section-info-cards .row i {
  color: #ff3115;
  font-size: 35px;
  position: absolute;
}

#section-info-cards .row .col-3:hover i {
  color: white;
  -webkit-animation: scale 1s;
          animation: scale 1s;
}

#section-info-cards .row .col-3:hover .div-icons {
  background-color: #ff3115;
}

#section-info-cards .row .div-text {
  text-align: center;
  background-color: black;
  padding: 30px 10px;
  padding-top: 60px;
}

#section-info-cards .row .div-text h3 {
  color: white;
  margin-bottom: 10px;
}

#section-info-cards .row .div-text p {
  color: #888888;
}

@-webkit-keyframes scale {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

#section-aboutus {
  margin: 100px 0;
}

#section-aboutus .row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-aboutus .row-flex h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

#section-aboutus .row-flex p {
  color: #888888;
}

#section-aboutus .row-flex hr {
  width: 10%;
  margin-top: 25px;
  border-color: #ff3115;
}

#section-aboutus .div-about-video {
  position: relative;
}

#section-aboutus .div-about-video .div-playicon {
  position: absolute;
  color: #ff3115;
  font-size: 80px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

#section-aboutus .div-about-video:hover i {
  -webkit-animation: opacityanim 2s;
          animation: opacityanim 2s;
}

#section-aboutus .div-row-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

#section-aboutus .div-row-info .div-about-video img {
  width: 100%;
}

#section-aboutus .div-row-info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#section-aboutus .div-row-info-text h3 {
  margin-bottom: 15px;
  font-size: 25px;
}

#section-aboutus .div-row-info-text p {
  color: #888888;
  padding: 20px 0;
}

#section-aboutus .div-row-info-text .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 1s;
  transition: 1s;
  margin: 10px 0;
}

#section-aboutus .div-row-info-text .active {
  background-color: #ff3115;
  color: white;
}

#section-aboutus .div-row-info-text .panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

#section-aboutus .div-row-info-text button {
  font-size: 20px;
}

.accordion-color {
  color: white;
  background-color: #ff3115;
}

#popular-courses {
  padding: 70px 0;
  background-color: #f9f9f9;
}

#popular-courses .row {
  position: relative;
}

#popular-courses .row .owl-prev i {
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -50px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: white;
  background-color: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

#popular-courses .row .owl-next i {
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -50px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: white;
  background-color: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

#popular-courses .row:hover i {
  opacity: 1;
}

#popular-courses .owl-prev i:hover {
  background-color: #ff3115;
}

#popular-courses .owl-next i:hover {
  background-color: #ff3115;
}

#popular-courses .popular-courses-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

#popular-courses .popular-courses-header p {
  margin: 15px 0;
}

#popular-courses .popular-courses-header hr {
  width: 10%;
  border-color: #ff3115;
}

#popular-courses .popular-courses-header h2 {
  font-size: 30px;
}

#popular-courses .card {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 15px;
  -webkit-box-shadow: 2px rgba(0, 0, 0, 0.24);
          box-shadow: 2px rgba(0, 0, 0, 0.24);
}

#popular-courses .card .div-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

#popular-courses .card .div-body a:first-child {
  font-size: 15px;
  margin-bottom: 10px;
  color: #ff3115;
}

#popular-courses .card .div-body a:nth-child(2) {
  color: black;
  font-size: 25px;
  margin-bottom: 15px;
}

#popular-courses .card .div-body .card-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#popular-courses .card .div-body .card-rating ul {
  margin-right: 20px;
}

#popular-courses .card .div-body .card-rating ul li {
  color: #ff3115;
}

#popular-courses .card .div-body p {
  text-align: center;
  color: #888888;
  margin-top: 15px;
}

#popular-courses .card .course-footer {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f0f0f0;
}

#popular-courses .card .course-footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #b3b3b3;
  padding-right: 5px;
}

#popular-courses .card .course-footer div span:first-child {
  font-weight: bold;
}

#popular-courses .card .course-footer div span:nth-child(2) {
  font-size: 15px;
}

#popular-courses .card .course-footer div:last-child {
  border: none;
}

#popular-courses .card .course-value {
  position: absolute;
  bottom: -25px;
  right: 25px;
  top: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #ff3115;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
  z-index: 1;
}

#section-acheivements {
  background-image: url(../images/counter-bg.jpg);
  background-attachment: fixed;
}

#section-acheivements .container .div-row-acheivements {
  padding: 130px 0;
}

#section-acheivements .container .div-row-acheivements .div-acheivements h2 {
  color: white;
  font-size: 32px;
}

#section-acheivements .container .div-row-acheivements .div-acheivements p {
  color: #888888;
  margin: 30px 0;
  line-height: 25px;
}

#section-acheivements .container .div-row-acheivements .div-acheivements img {
  width: 100%;
  border-radius: 8px;
}

#section-acheivements .container .div-row-acheivements .div-counters {
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-acheivements .container .div-row-acheivements .div-counters .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

#section-acheivements .container .div-row-acheivements .div-counters p {
  color: white;
  font-size: 25px;
}

#section-acheivements .container .div-row-acheivements .div-counters .col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid #888888;
  height: 150px;
}

#section-acheivements .container .div-row-acheivements .div-counters .col-6:hover {
  border-color: #ff3115;
}

#section-events .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

#section-events .row .events-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-events .row .events-header h2 {
  font-size: 25px;
}

#section-events .row .events-header p {
  color: #888888;
  margin: 15px 0;
}

#section-events .row .events-header hr {
  border-color: #ff3115;
  width: 10%;
}

#section-events .row i {
  color: #ff3115;
  font-size: 14px;
}

#section-events .row .card {
  margin: 0 5px;
}

#section-events .row .card-text {
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 15px 10px;
}

#section-events .row .card-text i {
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-events .row .card-text .event-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#section-events .row .card-text .first-a {
  color: #111111;
  margin-top: 15px;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#section-events .row .card-text .first-a:hover {
  color: #ff3115;
}

#section-events .row .card-text .card-body-clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
}

#section-events .row .card-text .card-body-clock div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#section-events .row .card-text .card-body-clock div:first-child {
  margin-right: 10px;
}

#section-events .row .card-text .footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-events .row .card-text .footer-button a {
  margin-right: 5px;
  color: #ff3115;
}

#section-events .row p,
#section-events .row span {
  color: #888888;
  font-size: 15px;
}

#section-experienced-staff {
  margin-top: 120px;
  background-color: #f9f9f9;
  padding-bottom: 50px;
}

#section-experienced-staff .staff-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}

#section-experienced-staff .staff-header h2 {
  font-size: 25px;
}

#section-experienced-staff .staff-header p {
  color: #888888;
  margin: 15px 0;
}

#section-experienced-staff .staff-header hr {
  border-color: #ff3115;
  width: 10%;
}

#section-experienced-staff .staff {
  position: relative;
  margin: 0 8px;
}

#section-experienced-staff .staff .staff-overlay {
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.589);
  color: white;
  cursor: pointer;
}

#section-experienced-staff .staff .staff-overlay hr {
  width: 13%;
  border-color: #ff3115;
  margin-top: 10px;
}

#section-experienced-staff .staff .staff-overlay p {
  margin-top: 13px;
}

#section-experienced-staff .staff:hover .staff-overlay {
  opacity: 1;
}

#section-experienced-staff .staff:hover .staff-info {
  opacity: 0;
}

#section-experienced-staff .staff-info {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.589);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px;
}

#section-experienced-staff .staff-info p {
  font-size: 15px;
}

#section-devlopment-course {
  background-image: url(../images/cta-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  padding: 60px 0;
}

#section-devlopment-course .container {
  padding: 60px 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-devlopment-course .container h2 {
  font-size: 30px;
}

#section-devlopment-course .container p {
  padding: 20px 0;
}

#section-devlopment-course .container button {
  font-size: 18px;
  color: white;
  background-color: #ff3115;
  border: none;
  padding: 15px 60px;
  text-transform: uppercase;
  cursor: pointer;
}

#section-devlopment-course .container hr {
  margin-bottom: 30px;
  width: 12%;
  border-color: #ff3115;
}

#section-news {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-news .row-news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-news .news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}

#section-news .news-header h2 {
  font-size: 25px;
}

#section-news .news-header p {
  color: #3a3a3a;
  margin: 15px 0;
}

#section-news .news-header hr {
  border-color: #ff3115;
  width: 20%;
}

#section-news i {
  color: #ff3115;
}

#section-news .news-card-lg {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #cccccc;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 558px;
}

#section-news .news-card-lg .news-image {
  padding-top: 15px;
  text-align: center;
}

#section-news .news-card-lg p {
  color: #888888;
  line-height: 25px;
}

#section-news .news-card-lg a {
  color: white;
  padding: 5px 15px;
  background-color: #ff3115;
  width: 19%;
  font-size: 15px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#section-news .news-card-lg a:hover {
  background-color: #cc2712;
}

#section-news .news-card-lg .news-date span {
  font-size: 15px;
  color: #888888;
}

#section-news .news-card-lg h4 {
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#section-news .news-card-lg h4:hover {
  color: #ff3115;
}

#section-news .news-card-lg:hover {
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

#section-news .news-card-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #cccccc;
  padding: 0;
  margin: 15px 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#section-news .news-card-sm img {
  max-width: 100%;
}

#section-news .news-card-sm .news-card-sm-text .flex {
  margin: 15px 0;
}

#section-news .news-card-sm .news-card-sm-text .flex i {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-news .news-card-sm .news-card-sm-text .flex p {
  color: #888888;
  font-size: 15px;
}

#section-news .news-card-sm h4 {
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#section-news .news-card-sm h4:hover {
  color: #ff3115;
}

#section-news .news-card-sm p {
  color: #5c5c5c;
  line-height: 25px;
}

#section-news .news-card-sm:hover {
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

#section-publications {
  background-color: #f0f0f0;
}

#section-publications .row-publications-header {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section-publications .row-publications-header h2 {
  font-weight: bold;
  font-size: 30px;
}

#section-publications .row-publications-header p {
  color: #888888;
  margin: 15px 0;
}

#section-publications .row-publications-header hr {
  border-color: #E41F05;
  width: 15%;
}

#section-publications .owl-carousel .publication-carousel-item {
  background-color: white;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-publications .owl-carousel .publication-carousel-item img {
  cursor: pointer;
}

#section-publications .owl-carousel .publication-carousel-item img:hover {
  scale: 1.5;
}

#section-publications .owl-carousel .publication-carousel-item h3 {
  padding: 10px 0;
  font-size: 20px;
}

#section-publications .owl-carousel .publication-carousel-item p {
  color: #888888;
}

#section-publications .owl-carousel .publication-carousel-item a {
  color: #3a3a3a;
  border: 1px solid #888888;
  padding: 5px 15px;
  margin: 15px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#section-publications .owl-carousel .publication-carousel-item a:hover {
  background-color: #fc2408;
  color: white;
  border: none;
}

#section-publications .owl-carousel .publication-carousel-item:hover {
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

#section-publications .view-more-button {
  padding-top: 30px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-publications .view-more-button .view-more {
  color: white;
  padding: 10px 20px;
  background-color: #ff371d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#section-publications .view-more-button .view-more:hover {
  background-color: #cc2712;
}
/*# sourceMappingURL=style.css.map */